<html>

<head>
  <title>Gamenator</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', path='/app/chatbox.js') }}"></script>
</head>

<body>
  <main class="container">
    <iframe class="preview" src="{{ url_for('preview', gameid=gameid) }}">
    </iframe>

    <section class="input-container">
      <input id="prompt-input" type="text" name="prompt" placeholder="Describe your game?">
      <button id="prompt-prompt" onclick="handlePrompt()">Prompt</button>
      <button id="prompt-query" onclick="handleQuery()">Query</button>
    </section>

    <pre id="ai-response"></pre>
  </main>
</body>

</html>